<p>products works!</p>
<!-- <ng-container *ngFor="let product of products">
    <span>
        {{ product.name | uppercase }}
    </span>
    </ng-container> -->
    <!-- <div *ngFor="let product of products">
        <p>{{product.name}}</p>
      </div> -->
      <table *ngFor="let product of products">
        <tr>
          <td>{{product.name}}</td>
          <td>{{product.description}}</td>
          <td>{{product.price}}</td>
          <td>{{product.image}}</td>
          <td>{{product.inStock}}</td>
          <button (click)="updateProduct(product._id)"></button>
          <button (click)="deleteButtonClick(product._id)"></button>
        </tr>
        