<p>List page</p>
<div>
  <nav> <a [routerLink]="['addProduct']" > Add</a> </nav>
</div>

      <table *ngFor="let product of products">
        <tr>
          <td>{{product.name}}</td>
          <td>{{product.description}}</td>
          <td>{{product.price}}</td>
          <td>{{product.image}}</td>
          <td>{{product.inStock}}</td>
          <button [routerLink]="['/products', 'updateProduct', product._id]"></button>
          <button (click)="F(product._id)"></button>
        </tr>
      </table>
