<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div>
        <input placeholder="First Name" type="text" [formControl]="signupForm.get('firstName')">
    </div>

    <div>
        <input placeholder="Last Name" type="text" [formControl]="signupForm.get('lastName')">
    </div>
    <div>
        <input placeholder="Email" type="text" [formControl]="signupForm.get('email')">
    </div>
    <div>
        <input placeholder="Password" type="password" [formControl]="signupForm.get('password')">
    </div>

    <div>
        <label for="farmer">Farmer</label>
        <input type="radio" name="role" id="farmer" value="FARMER" class="mr-3" [formControl]="signupForm.get('role')">
        <label for="customer ">Customer</label>
        <input type="radio" name="role" id="customer" value="CUSTOMER" [formControl]="signupForm.get('role')">
    </div>
    <input type="submit" value="Sign Up">
</form>

<!-- Success message -->
<div class="success" *ngIf="showSucessMessage">
    Saved successfully
</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
</div>